$bg-grey-100: #3a4249;

$bg-grey-80: #434B54;

$bg-grey-60: #575F68;

$bg-grey-40: #69727C;

$blue-grey: #6A7E95;

$green: #BEDF5D;

$blue: #4B9AF5;

$orange: #D75F4C;

@mixin gradient($from-color, $to-color, $start) {
	background-color: mix($from-color, $to-color); /* Fallback */
	background-image: -webkit-linear-gradient($start, $from-color, $to-color); 
	background-image:    -moz-linear-gradient($start, $from-color, $to-color);
	background-image:     -ms-linear-gradient($start, $from-color, $to-color);
	background-image:      -o-linear-gradient($start, $from-color, $to-color);
	-ms-filter:	"progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}