.left-nav {
	.navbar-links {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		list-style: none;
		padding: 0;
		margin: 0;
	}
    background: $bg-grey-60;
	min-height: 80px;
	overflow: hidden;
    width: 275px;
    .nav-primary {
        text-transform: uppercase;
        font-size: 90%;
    }
    .logged-in {
        background: $bg-grey-40;
        position: relative;
        .account-info {
            padding: 1.25rem;
            .balance { 
                font-size: 375%;
                font-weight: 100;
                line-height: 4rem;
            }
            .change {
                color: $green;
                font-size: 110%;
                line-height: 1rem;
            }
        }
        .col-link:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            height: 1px;
            width: 100%;
            @include gradient($bg-grey-40, #5B6168, left);
        }
    }
}
