@import 'includes';

.col-link {
	display: flex;
	color: #fff;
	text-decoration: none;
    padding: 1.25em;
    position: relative;
    font-size: 90%;
    &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        height: 1px;
        width: 100%;
        @include gradient($bg-grey-60, #4B5259, left);
    }
}